# collection type
    - 1 list
    - 2 tuple
    - 3 set
    - 4 dictionary

# list:
## one of the datastructure in python
## datastructure means to store,sort and search options
## it is a common datastructure in python,the items in a list are separated by comma and enclosed in []
## list can store different data types(heterogenous data)

In [2]:
## example :
list1=[1,2,3,4,5]
print(list1)
type(list1)

[1, 2, 3, 4, 5]

list

In [3]:
list2=[1,1.23,"gitam","hyd"] ##heterogenous type of data
list2

[1, 1.23, 'gitam', 'hyd']

In [4]:
##accessing list elements:
list1=[1,2,3,4,5]
print(list[0])
list1[-1]
list1[-3]

1

3

In [5]:
list1[0:3]

[1, 2, 3]

In [6]:
list1[0:5:2]

[1, 3, 5]

In [7]:
list1=[1,2,3,4,5]
list1[2:]

[3, 4, 5]

In [8]:
del list1[0]

In [9]:
list1

[2, 3, 4, 5]

In [10]:
list1=[1,2,3,4,5]
len(list1)

5

In [11]:
print(list*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [12]:
2 in list

True

In [13]:
0 in list

False

In [15]:
# Accessing list elements with for loop
list1=[1,2,3,4,5]
for i in range(len(list1)):
    print(list1[i])

1
2
3
4
5

In [16]:
for i in[1,2,3,4]:
    print(i,end=" ")

1 2 3 4

In [17]:
list1=[1,3,5,7]
print(max(list1))

7

In [18]:
print(min(list1))

1

In [19]:
print(sum(list1))

16

In [20]:
sum(list1)/len(list1)

4.0

In [21]:
list1 = [1,2,3,4]
list1.append(5)
list1

[1, 2, 3, 4, 5]

In [22]:
list1.insert(2,6)
list1

[1, 2, 6, 3, 4, 5]

In [23]:
list1=[1,2,3,3]
list1.count(3)

2

In [24]:
list1=[1,2,6,3,4,3]
list1.pop(2)

6

In [25]:
list1

[1, 2, 3, 4, 3]

In [27]:
list1=[1,2,3,4]
list1.pop()

4

In [30]:
list1=[1,2,6,4]
print(list1)
list1.index(1)

[1, 2, 6, 4]

0

In [1]:
list1=[1,2,3,4]
list2=[5,6]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

In [2]:
list1=[1,2,3,4]
list1.reverse()
print(list1)

[4, 3, 2, 1]

In [3]:
list=[5,3,2,1,6]
list.sort()
print(list)

[1, 2, 3, 5, 6]

In [6]:
list1=[5,3,2,1,6]
list1[::-1]

[6, 1, 2, 3, 5]

# TUPLES:
    -tuples are enclosed in paranthesis()
    -tuples are immutable i.e we cannot modify the elements of the tuple

## differences between tuple and list
    -tuples-->()and list-->[]
    -list is mutable(can modify the data),tuple is immutable

In [7]:
help("tuple")

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=2147483647, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# DICTIONARY
    - enclosed in {}
    - dictionary consists of key and value pairs separated by colon(:)
    - each key and valuepair is separated by comma(,)
    - keys should be unique,values may repeat

In [12]:
d1={"name":'gitam',"roll-no":1234,"address":'hyd'}
d1

{'name': 'gitam', 'roll-no': 1234, 'address': 'hyd'}

In [13]:
d1["name"]

'gitam'

In [15]:
d1["email"]="gitam123@gmail.com"
d1

{'name': 'gitam',
 'roll-no': 1234,
 'address': 'hyd',
 'email': 'gitam123@gmail.com'}

In [16]:
d1.keys()

dict_keys(['name', 'roll-no', 'address', 'email'])

In [17]:
d1.values()

dict_values(['gitam', 1234, 'hyd', 'gitam123@gmail.com'])

In [18]:
d1.items()

dict_items([('name', 'gitam'), ('roll-no', 1234), ('address', 'hyd'), ('email', 'gitam123@gmail.com')])

In [19]:
d1

{'name': 'gitam',
 'roll-no': 1234,
 'address': 'hyd',
 'email': 'gitam123@gmail.com'}

## function to find the factorial of a number
## input:5[5* 4*  3* 2* 1]
## output:strong number or not

In [37]:
def factorial(n):
    mul=1
    while n!=0:
        r=n
        mul=mul*r
        n=n-1
    return mul
factorial(5)

120

In [42]:
def digitalfactorsum(n):
    s = 0
    buffer = n
    while n!=0:
        r=n%10
        s=s + factorial(r)
        n=n//10
    if buffer==s:
        print("strong number")
    else :
        print("not a strong number")
digitalfactorsum(145)

strong number

# STRINGS

In [46]:
s1="python"
print(s1)
type(s1)

python

str

In [47]:
#Accessing the first character
print(s1[0]) #print the firstcharacter
print(s1[-1]) #print the last character
print(s1[2:5]) #prints the chrctrs from index 2 to 5 with step1
print(s1[::2]) #prints the chrctrs frm first to last with step2

p
n
tho
pto

In [48]:
str1="mom"
print(str1)
print(str1[::-1])
if str1==str1[::-1]:
    print("palindrome")
else:
    print("not palindrome")

mom
mom
palindrome