#markdown

2+2

In [1]:
2+2

4

# markdown
## markdown
### markdown
#### markdown
##### markdown
###### markdown
####### markdown

#### for italic and bold
* *italic*
* **italic**

* ***italic***

- normal text
    - sub1
        - sub2

- normaltext
    - sub1
    - sub2

![image](https://banner2.cleanpng.com/20180712/yka/kisspng-professional-python-programmer-computer-programmin-python-logo-download-5b47725c1cc0d6.3474912915314089881178.jpg)

* [drive]
https://drive.google.com/drive/my-drive

print("hello,gitam")
print("hii")

In [2]:
print(" hello gitam")
print("hi")

 hello gitam
hi

In [3]:
print("hello gitam",end="$")
print("crt")

hello gitam$crt

In [4]:
a =

SyntaxError: invalid syntax (<ipython-input-4-828ec4a4fd72>, line 1)

In [5]:
a = "python"
b = "p"
type(a)
c=10
type(c)

int

In [6]:
a=10.5
type(a)

float

In [7]:
a=10.5
print(type(a))
id(a)

<class 'float'>

65623776

In [8]:
name = "adithya"
age = "20"
print("my name is",name,"and age is",age)

my name is adithya and age is 20

In [9]:
input("enter the string")

enter the stringcrt

'crt'

In [10]:
a=input("enter the number")
type(a)

enter the number10

str

In [12]:
a= float (input("enterthe number"))
type(a)

enterthe number123

float

In [13]:
a = int(input("enter a number"))
b = int(input("enter a number"))
c=a+b
print(c)

enter a number21
enter a number48
69

In [14]:
x=10
print(x)
type(x)

10

int

In [15]:
x=complex(12)
x

(12+0j)

In [16]:
c1=1+2j
c2=2+3j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(3+5j)
(-1-1j)
(-4+7j)

In [18]:
a=True
type(a)

bool

In [19]:
b=False
type(b)

bool

In [20]:
a>b

True

In [21]:
a<b

False

In [22]:
s1='abc'
s2="abc"
print(s1)
s2

abc

'abc'

In [23]:
type(s1)
type(s2)

str

In [24]:
i=100
print(type(i))

<class 'int'>

In [25]:
s1=str(i)
print(s1)
type(s1)

100

str

In [26]:
f1=float(i)
print(f1)

100.0

In [27]:
c1=complex(i)
print(c1)

(100+0j)

In [28]:
s=100
print(type(s))

<class 'int'>

In [29]:
a=int(s)
type(a)

int

In [30]:
f=2.3
type(f)

float

In [31]:
a1=int(f)
type(a1)

int

In [32]:
a='123456'
len(a)

6

In [33]:
a='10.5'
len(a)

4

# operators

In [34]:
a=1
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

3
-1
2
0.5
1
0
1

In [35]:
a=10
if a>0:
    print('positive')

positive

In [39]:
a=-10
if a<0:
    print('negAtive')

negAtive

In [40]:
a=-10
if a>0:
    print('positive')
else:
    print('negative')

negative